<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Up-votes</th>
      <th>Down-votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

	

<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants" %>
 <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @restaurants.blank? %>
<h2>Could not find anything that matched your search</h2>
<%  @restaurants = Restaurant.all %>
<% end %>


  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.upVotes %></td>
        <td><%= restaurant.downVotes %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'vote up', upvote_restaurant_path(restaurant) %></td>
        <td><%= link_to 'vote down', downvote_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
