<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Up-votes:</strong>
  <%= @restaurant.upVotes %>
</p>

<p>
  <strong>Down-votes:</strong>
  <%= @restaurant.downVotes %>
</p>

<%= link_to 'Back', restaurants_path %>
